{% extends 'posts/base.html' %}
{% block title %}{{ post.message }}{% endblock %}
{% block body %}


<div class="container-fluid">

    <div class="row">

        <!-- Left Post Info -->
        <div class="col-sm-4 col-md-90">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'posts:detail' post.Collaborate_Messaging_A00_Rec %}"></a>
                    <h1>{{ post.message }}</h1>
                    <h4> {{ post.messageType }}</h4>
                    <h5>{{ post.dateTimeStamp }}</h5>
                </div>
                <ul class="nav nav-pills" style="margin-bottom: 30px;">

                    <li role="presentation"><a href="{% url 'posts:reply' post.Collaborate_Messaging_A00_Rec %}">Add Reply</a></li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Replies</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    {% for post in post.Collaborate_Messaging_A00_set.all %}
                        {{ post.message }}<br/>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}